@font-face {
  font-family: "Vazir";
  src: local("Vazir"), url("./font/Vazir-Regular-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.tag {
  text-decoration: none;
  color: #2979ff;
}
.blur {
  top: 0%;
  bottom: auto;
  background-color: rgba(white, white, white, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.offline {
  height: 90px;
  width: 90px;
  margin: 10px;
}
.online {
  height: 90px;
  width: 90px;
  margin: 10px;
  animation: pulse 1500ms infinite;
}
@keyframes pulse {
  0% {
    box-shadow: #2196f3 0 0 0 0;
  }
  75% {
    box-shadow: #2196f300 0 0 0 10px;
  }
}

.RichEditor-root {
  border: 1px solid silver;
  border-radius: 4px;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
  margin: 20px;
  max-width: 700px;
  width: 80%;
  min-height: 350px;
}

.RichEditor-editor {
  border-top: 1px solid silver;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid silver;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  cursor: pointer;
  font-weight: bold;
  margin-right: 16px;
  font-size: large;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #2979ff;
}
