@font-face {
  font-family: "Vazir";
  src: local("Vazir"), url("./font/Vazir-Regular-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.tag {
  text-decoration: none;
  color: #2979ff;
}
.blur {
  top: 0%;
  bottom: auto;
  background-color: rgba(white, white, white, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.offline {
  height: 90px;
  width: 90px;
  margin: 10px;
}
.online {
  height: 90px;
  width: 90px;
  margin: 10px;
  animation: pulse 1500ms infinite;
}
@keyframes pulse {
  0% {
    box-shadow: #2196f3 0 0 0 0;
  }
  75% {
    box-shadow: #2196f300 0 0 0 10px;
  }
}
